[submodule "simple-obfs"]
	path = simple-obfs
	url = https://github.com/aa65535/openwrt-simple-obfs.git
[submodule "shadowsocks-libev"]
	path = shadowsocks-libev
	url = https://github.com/dgeibi/openwrt-shadowsocks.git
[submodule "pcap-dnsproxy"]
	path = pcap-dnsproxy
	url = https://github.com/dgeibi/openwrt-Pcap_DNSProxy.git
[submodule "openwrt-feeds"]
  path = ss-feeds
  url = https://github.com/shadowsocks/openwrt-feeds.git
